{% extends "products/base.html" %}

{%block content %}
<table class="table table-borderless">

    <tr>
        <td>ID</td>
        <td>Item Name</td>
        <td>Category</td>
        <td>Description</td>
        <td>Price</td>
        <td>Discount</td>
    </tr>
    <tbody>
        {% for item in productList %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.category.title}}</td>
            <td>{{item.description}}</td>
            <td>Rs.{{item.price}}/-</td>
            <td>{{item.discount}}%</td>
            <td>
                <a href='{{ item.get_absolute_url }}'>edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}